[2015-07-14 18:06] ailispaw opened #3 "Please identify the custom vmlinuz64 and initrd.img"
I found your custom boot2docker with your pull request, but the URLs in `download_boot2docker` scares me and someone probably.

I recommend you to add some comments or put them in the release page at nlf/boot2docker or here.

What do you think?

[2015-07-14 18:14] nlf commented on #3
Probably a very good idea. I'll get them moved to the release page

[2015-07-14 18:34] ailispaw commented on #3
And also I feel the same with silent install, too.
Could you remove `@` from `@install` in Makefile?

[2015-07-14 18:35] nlf commented on #3
Also for the record (which this should be documented) all my custom boot2docker build is is a standard 1.7.0 build but with this patch merged https://github.com/boot2docker/boot2docker/pull/981

[2015-07-14 18:36] nlf commented on #3
@ailispaw definitely, i think a lot of the @ prefixes can probably be removed, i only had most of them there because i was tired of scrolling so much while testing it :) feel free to make whatever changes you see fit. submit them in a PR if you want review on them or aren't sure about them for whatever reason

[2015-07-14 18:37] ailispaw commented on #3
@nlf Thanks a lot.

[2015-07-15 15:04] nlf commented on #3
Moved the kernel and initrd to a release, and tagged a 1.0.0, but it kinda messes up the whole submodule thing since you'd have to download the release (the source code, i mean) then initialize it as a git repo, then init the sub module and update it.

Maybe we should consider using homebrew to install xhyve?

[2015-07-15 15:43] ailispaw commented on #3
Currently homebrew points to the old version of xhyve which isn't compatible with the current args of dhyve.
So it's still needed the sub module to work for a while and v1.0.0 looks good to me.

[2015-07-15 15:44] ailispaw commented on #3
BTW,
I have a trouble with boot2docker v1.7.1 which is released yesterday.
How about your side?

[2015-07-15 15:47] ailispaw commented on #3
I know it doesn't include your patch, but even boot2docker-xhyve doesn't work with boot2docker v1.7.1.
I'm going to investigate it.

[2015-07-15 15:48] nlf commented on #3
When I tried building from master last week I had trouble too, but I didn't bother investigating. I also briefly experimented with using rancheros instead of boot2docker, but also had issues with that.

[2015-07-15 15:50] ailispaw commented on #3
Thanks for the info. I will try to figure it out.

[2015-07-15 16:44] ailispaw commented on #3
closing anyway.

[2015-07-15 16:44] #3 closed, assigned to nobody

[2015-07-15 20:00] nlf opened #8 "change update/upgrade commands to use releases"
we should check for the latest release in github and download that instead of pulling from master or a hardcoded release

[2015-07-15 22:31] nlf commented on #8
closed via #9

[2015-07-15 22:31] #8 closed, assigned to nlf

[2015-07-15 22:49] ailispaw commented on #3
FYI:
https://github.com/ailispaw/boot2docker-xhyve/issues/6
https://github.com/ailispaw/boot2docker/pull/1

[2015-07-15 23:04] ailispaw commented on #3
Upgraded https://github.com/ailispaw/boot2docker-xhyve
Uploaded https://github.com/ailispaw/boot2docker/releases/tag/xhyve%2Fv1.7.1
It should be fine with dhyve, too.

[2015-07-17 20:34] nlf opened #12 "update to use dhyve-os"
looks like this will still require a custom build

[2015-07-17 20:37] nlf opened #13 "split os image into separate repo"
if we have, for example `dhyve` and `dhyve-os` into separate repos, then it's possible to update one without impacting the other or having to create an artificial release that copies the same binaries or script as the previous release.

[2015-07-17 22:13] nlf commented on #13
created [dhyve-os](https://github.com/nlf/dhyve-os) so closing this

[2015-07-17 22:13] #13 closed, assigned to nobody

[2015-07-17 22:14] nlf opened #14 "fix upgrade command to refer to dhyve-os"
upgrade should check dhyve-os for latest version and binaries instead of dhyve

[2015-07-17 22:14] nlf commented on #12
dhyve-os is our customized fork of boot2docker

[2015-07-17 23:15] rrva opened #15 "ssh: Could not resolve hostname dhyve.vm:"
[code]

Adding dhyve.vm to /etc/hosts helped.

Maybe the .vm tld collides with vagrant-landrush?

[code]

[2015-07-17 23:23] rrva commented on #15
Hmm, the issue must have been that I forgot to use sudo for dhyve init? Also the ssl certs were missing, but now that I repeated sudo dhyve init and sudo dhyve up all works.

[2015-07-17 23:23] #15 closed, assigned to nobody

[2015-07-18 00:48] ailispaw commented on #13
@nlf You can use https://github.com/ailispaw/rancheros-lite, the smallest and faster OS for Docker.
If you need it, I can customize it for dhyve.

[2015-07-18 00:55] nlf commented on #13
interesting. what's different between it and something like boot2docker, or plain rancheros?

if it supports the same features that we use in boot2docker, namely the auto formatting of the persistent storage partition and ability to easily inject ssh keys, i'd definitely consider it.

[2015-07-18 01:03] ailispaw commented on #13
RancherOS and RancherOS-Lite uses buildroot and busybox instead of TinyCoreLinux in boot2docker.
RancherOS has several system-containers but RancherOS-Lite runs just Docker as PID 1.

It doesn't have the auto formatting, but I can add it easily.
And it doesn't have the ssh keys, because I believe that we don't need TLS for local development.

[2015-07-18 01:05] nlf commented on #13
i can certainly concede that we don't need to put docker behind TLS, but having ssh keys injected to allow passwordless logins is pretty important to me.

so rancheros-lite is basically just rancher with the system-docker services disabled? does it still allow the use of the ros tool? or is all that removed?

[2015-07-18 01:07] nlf commented on #13
also rancheros allows some cloud-config compatible stuff, is that removed from rancheros-lite?

[2015-07-18 01:11] ailispaw commented on #13
I mean TLS for Docker, but SSH.

[2015-07-18 01:14] ailispaw commented on #13
I have removed all system-docker containers including cloud-config from RancherOS, but it has just them as normal services except cloud-config.

[2015-07-18 01:16] nlf commented on #13
would you mind providing me a kernel and initrd somehow so i can boot it up and mess with it?

[2015-07-18 01:19] ailispaw commented on #13
You can follow the instruction https://github.com/ailispaw/rancheros-lite/tree/master/contrib/xhyve .
But I've forgotten to mention that it needs VBoxManage to convert VMDK to raw image.
If you need compressed raw image for HDD, please let me know and I can make it for you.

[2015-07-18 01:32] nlf commented on #13
hmm.. i'd definitely want to look into changing the build system to use docker containers instead of vagrant+packer, but i do kind of like the idea of using buildroot and busybox. i'll play with it over the weekend.

[2015-07-18 01:34] ailispaw commented on #13
Thanks. And also I create the prototype of dhyve with rancheros-lite.
https://github.com/ailispaw/dhyve/tree/rancheros-lite

[2015-07-19 21:10] ailispaw commented on #13
I understand how important the autoformat and userdata are for dhyve script and boot2docker is better for now.

[2015-07-20 17:56] nlf opened #17 "maybe get rid of dhyve env"
so this is just a thought i had, but i wanted to write it down so we could talk about it..

if we add a dependency on socat, we can actually create a unix socket on the host osx system that would automatically forward to the running vm's docker daemon, which would totally eliminate the need for the user to ever call `eval "$(dhyve env)"` and most things would just work™

worth the extra dependency

[2015-07-20 17:59] nlf opened #18 "switch to homebrew for xhyve"
i know we discussed this at some point and said no because the xhyve binary is out of date, but i just noticed that a `HEAD` target is available in homebrew which builds the latest git revision. that would certainly work for our purposes.

[2015-07-20 18:17] nlf opened #19 "create a launchd agent"
we could make a launchd agent to automatically start docker at boot (and socat if we decide to go that route)

[2015-07-20 18:19] ailispaw commented on #19
This might be helpful for it.
https://github.com/ailispaw/boot2docker-xhyve/wiki/Running-boot2docker-xhyve-on-boot
https://gist.github.com/ailispaw/7c95167b6261f1c7aa22

[2015-07-20 18:24] ailispaw commented on #18
:+1:

[2015-07-20 18:27] ailispaw commented on #17
Will that work for multiple VMs, too?

[2015-07-20 19:00] nlf commented on #17
ah, you're right, no it won't. maybe it could be an optional thing and associated with one specific vm. or we could create a socket for each vm and let the user choose which is their default..

[2015-07-20 19:00] nlf commented on #17
to elaborate, if we were to create `~/.dhyve/machinename/docker.sock` then when the user chooses a default we could just symlink it to `/var/run/docker.sock` for them.

[2015-07-20 19:05] ailispaw commented on #17
Sounds fair.
Users need one more step as same as `$(dhyve env)` though.

[2015-07-20 19:06] nlf commented on #17
it would only be a one time step though, rather than on every login, so that's a small win

[2015-07-20 19:08] ailispaw commented on #17
Yeah.
On the other hand, I like it because it looks more seamless to use Docker on Mac.

[2015-07-20 19:09] nlf commented on #17
that was my main thought, no more mucking with environment variables.

[2015-07-20 19:13] ailispaw commented on #17
OK.
Is there any solution for it instead of socat?
I don't like another dependency actually.

[2015-07-20 19:17] nlf commented on #17
i think we can make it work with netcat also, which is bundled with osx, it's just a little more awkward

[2015-07-20 19:18] ailispaw commented on #17
:+1:

[2015-07-27 17:03] ailispaw commented on #18
xhyve v0.2.0 has been released.
https://github.com/mist64/xhyve/releases/tag/v0.2.0

[2015-07-30 11:38] dch commented on #18
+1 just use brew, less submodules. given how small dhyve is, perhaps it could go direct into xhyve? the proliferation of docker-helpers is .... confusing ... atm.

[2015-07-30 23:32] nlf commented on #12
dhyve-os is now based on buildroot instead of boot2docker and is even tinier :)

[2015-07-30 23:36] nlf commented on #14
closing because i'm already tracking this in #12

[2015-07-30 23:36] #14 closed, assigned to nobody

[2015-07-30 23:41] nlf commented on #17
need to test this more thoroughly before i decide whether or not to stick with it, but i have managed to make it work

[2015-08-01 00:06] nlf opened #20 "move all the various vm files into a single file"
everything but the kernel, initrd, and disk should be stored in one file. having all these text files with one line in them is silly.

[2015-08-01 00:56] nlf commented on #17
hmm.. this doesn't work great with just netcat. on top of having to create a fifo as well as the socket, it's pretty unreliable. especially with regards to interactive shells.

socat works great, but adds another dependency.

i guess it comes down to a question of either installing socat, or just keeping `dhyve env` around.

[2015-08-01 01:03] ailispaw commented on #17
I prefer `dhyve env` for now.

[2015-08-01 15:39] #12 closed, assigned to nobody

[2015-08-01 15:47] nlf commented on #17
i agree, until we come up with a better solution i think `dhyve env` stays

[2015-08-01 15:47] #17 closed, assigned to nobody

[2015-08-01 15:52] #18 closed, assigned to nobody

[2015-08-01 16:00] nlf opened #22 "make installable via homebrew"
we'll have to make another repo for the formula, but it would make things nicer for users

[2015-08-01 19:17] #20 closed, assigned to nobody

[2015-08-01 19:18] nlf opened #23 "make terminology consistent"

[2015-08-01 19:18] nlf opened #24 "consolidate repeated tasks into functions"

[2015-08-01 19:18] nlf opened #25 "support multiple vms"
initially this will just be supporting a `-n` flag on init to specify a name, and making sure we aren't overwriting an existing vm. they can just be subdirectories in `$HOME/.dhyve`

[2015-08-01 21:25] nlf opened #26 "add entries to $HOME/.ssh/config"
this will let us get rid of the ssh and scp commands

[2015-08-01 21:29] ailispaw commented on #25
:+1:

[2015-08-01 21:42] nlf opened #27 "revert vm_down to use kill instead of ssh"

[2015-08-01 21:46] ailispaw commented on #27
It will work well when the vm has already been shutdown manually.

[code]

[2015-08-01 21:47] #27 closed, assigned to nobody

[2015-08-01 21:48] ailispaw commented on #27
Oops. My mistake.
`check_vm_running` will be reverted as well.

[2015-08-01 21:57] ailispaw commented on #20
FYI: I had to remove `~/.dhyve` right after updating dhyve, because there is not a config file yet.

[2015-08-01 22:03] nlf commented on #20
yeah if you updated from master that's expected. master is a 2.0.0 work in progress and has a bunch of breaking changes.

[2015-08-01 22:04] nlf commented on #20
btw i created a gitter chat room for this, if you can you might join there and it'll be easier for us to discuss things https://gitter.im/nlf/dhyve

[2015-08-01 22:24] #26 closed, assigned to nobody

[2015-08-01 23:11] nlf commented on #22
as part of this the update command will go away in favor of letting homebrew handle the script, but we'll keep upgrade for the vm.

[2015-08-01 23:57] #23 closed, assigned to nobody

[2015-08-01 23:57] #24 closed, assigned to nobody

[2015-08-02 00:16] #22 closed, assigned to nobody

[2015-08-05 09:07] dch opened #31 "unable to start network as VM has no IP"
dhyve starts but never detects an IP address in the VM. `dhcpd_leases` seems to be empty, so the issue perhaps is inside the VM, or the xhyve command used to start dhyve?

[code]

I've just run into this on a couple of systems. It would be really helpful if there's a way to see the xhyve log, tail or tee somewhere would be fine BTW. I've been killing xhyve and running it in its own tmux session to

[2015-08-05 16:44] nlf commented on #31
that's interesting.. you say a couple of systems? what version of osx are they running? also, what version of xhyve are you using?

[2015-08-09 10:41] dch commented on #31
# elcap b4 // xhyve 0.2

one of them is on the ElCap beta, b3 at the time of logging this, but now on b4 & I can't get dhyve to run at all sadly since the last update:

[code]

xhyve itself works fine atm, so I have no idea what's actually going on with this one. xhyve is using `-A -m 1G -s 0:0,hostbridge -s 31,lpc -l com1,stdio -f kexec,test/vmlinuz,test/initrd.gz,earlyprintk=serial console=ttyS0

[2015-08-09 23:17] ailispaw commented on #31
I have the same problem here on Yosemite 10.10.4.

[code]

[code]

[code]

[2015-08-13 14:13] ailispaw commented on #13
@nlf I'm sorry for this.
I have been informed a vulnerability without TLS, even if it's on a local environment.
We may have to consider TLS back.

[CVE-2014-5280] Cross-site request forgery attack possible against Docker daemon
https://groups.google.com/forum/#!topic/docker-announce/aQoVmQlcE0A

[2015-08-13 16:56] ailispaw commented on #13
I'm sorry for bothering you.

I'm trying to reproduce the CSRF, but it seems that Docker has been patched for CSRF since v1.3.0.
Add checks for app/json - issue #2515 by duglin · Pull Request #8235 · docker/docker
https://github.com/docker/docker/pull/8235

I will continue to investigate it.
Thanks.

[2015-08-19 18:53] rrva opened #33 "dhyve stuck on starting"
With latest xhyve from git today, dhyve up fails to start, endlessly waiting for something. Host is OSX 10.11

[code]

But seems to be started:

[code]

However not reachable:

[code]

`xhyverun.sh` for the same version of xhyve works fine.

[2015-08-19 18:54] rrva commented on #33
vm.log:

[code]

[2015-08-19 18:59] ailispaw commented on #33
It looks like same as mine.
https://github.com/nlf/dhyve/issues/31#issuecomment-129260329
You may need this PR.
https://github.com/nlf/dhyve/pull/32

[2015-08-19 19:32] rrva commented on #33
@ailispaw: thanks, #32 fixed it. Missed that you needed to run dhyve destroy/dhyve init again.

[2015-08-19 19:32] rrva commented on #33
Closing since duplicate.

[2015-08-19 19:32] #33 closed, assigned to nobody

[2015-08-24 18:58] #31 closed, assigned to nobody

[2015-08-24 19:00] nlf commented on #19
i think launchd doesn't really line up with the goals of dhyve, i created https://github.com/nlf/dlite though which is a much more lightweight solution that does use launchd but targets only running one vm and with less flexibility

[2015-08-24 19:00] #19 closed, assigned to nlf

[2015-08-25 20:33] dch commented on #31
a belated thanks for tracking this down and fixing it! thank you so much!

[2015-08-29 15:31] durin42 opened #34 "`dhyve up` breaks my network config"
`dhyve up` seems to change my default route to go over the bridge interface instead of en(0|1), and then I have to manually restore the default route in order to do anything over the network again. I'd be delighted to offer extra debug information, but I'm not sure what to collect or how.

[2015-08-29 15:39] nlf commented on #34
wow, that's a pretty big bug. you might open an issue on [xhyve](https://github.com/mist64/xhyve) for this one, since it'll be a problem there. i'll keep this open for tracking though.

[2015-08-29 15:52] durin42 commented on #34
Filed as https://github.com/mist64/xhyve/issues/50

[2015-08-29 19:20] ailispaw commented on #34
Although I don't have any issue with two default gateways as below, I guess it is not related to xhyve but vmnet.framework which xhyve uses in Yosemite.

[code]

Is this a work around for it?

[code]

[2015-08-29 20:38] ailispaw commented on #34
I've heard that there is something wrong with Pow and xhyve networking.

[2015-09-01 01:10] durin42 commented on #34
I don't have multiple defaults left after a 'dhyve up', just the one broken one:

[code]

the only fix for me is to

[code]

by hand after every `dhyve up`.

What's Pow?

[2015-09-01 01:21] ailispaw commented on #34
Oh, you have just one default after `dhyve up`. That's different from mine.

I'm not familiar with Rails, but it seems http://pow.cx/ .

[2015-09-01 01:22] durin42 commented on #34
Yes, I have one default and I can't add another until I delete the bogus one on bridge0.

I don't use Pow, but you probably guessed that.

[2015-09-02 21:26] marcbachmann opened #35 "SSH is not working"
I can't connect using ssh. I've set up the vm multiple times, but it doesn't work.

[code]

Any idea what's the problem?

[2015-09-02 21:27] nlf commented on #35
@stongo has been experiencing a similar problem, we're still trying to figure out why

[2015-09-02 21:27] marcbachmann opened #36 "bzImage download failed during first setup"
I had to manually pull it.

[2015-09-02 21:28] nlf commented on #36
did you get an error? or did it just continue and the file didn't exist?

[2015-09-02 21:30] marcbachmann commented on #36
Yes, I've got an error. But a somewhat cryptic one. I don't have it anymore. sorry
It might have been a network problem. Currently the internet at work is not really stable.

[2015-09-02 21:31] nlf commented on #36
Ok, that’s fine. It still at least tells me I need to add better error handling and messages to the download function.

[2015-09-03 18:42] evanmcc opened #37 "com.apple.vmnet is missing"
the file `/Library/Preferences/SystemConfiguration/com.apple.vmnet` doesn't exist.

This leads to errors of the flavor:

[code]

[2015-09-03 18:45] nlf commented on #37
it doesn't exist at all? what version of OSX are you on?

[2015-09-03 18:51] evanmcc commented on #37
totally not there.  Yosemite upgraded recently from Mavericks

[2015-09-03 18:54] nlf commented on #37
can you run the command `sudo find / -name com.apple.vmnet.plist` and tell me what it finds? it can take a while for that command to finish, but it should find the file somewhere.

[2015-09-03 18:57] evanmcc commented on #37
no results, sadly.

[2015-09-03 18:58] nlf commented on #37
very interesting. i'll have to look into this deeper. @ailispaw ever seen this happen?

[2015-09-03 20:27] jgeiger commented on #37
Just had the same issue. no results for the find as well.
Yosemite 10.10.5 (14F27), full install, not an upgrade

[2015-09-03 21:01] ailispaw commented on #37
@nlf I've never seen that before.
@evanmcc @jgeiger Have you ever run xhyve successfully?
Could you try https://github.com/ailispaw/boot2docker-xhyve?
I guess that plist will be created when xhyve runs with vmnet at the first time.

[2015-09-03 21:24] evanmcc commented on #37
@ailispaw that worked, thanks!

@nlf I had to recreate the vm afterwards (`dhyve stop; dhyve destroy; dhyve init; dhyve up`) to make this work, but it does seem to be working now.

[2015-09-03 21:28] nlf commented on #37
ok, great, thanks for letting me know. i bet we can work out a solution to this in the script.

[2015-09-03 21:30] ailispaw commented on #37
@evanmcc You're welcome. I'm glad that worked for you.

[2015-09-04 02:58] jgeiger commented on #37
running the b2d version fixed this issue for me. once started, the running instance hung after 3 commands so I had to kill it via kill -9

[2015-09-04 03:53] evanmcc commented on #35
me also

[2015-09-04 04:24] evanmcc commented on #35
It looks like `/etc/resolv.conf` isn't getting generated correctly:

[code]

However, editing it and saving it (either to 192.168.64.3 or something like 8.8.8.8, which seems to work better from the prompt) doesn't seem to save the image.

When the image is being run directly with xhyve and the resolv.conf ip is 8.8.8.8 I can docker pull stuff, but i still can't ssh in.  docker commands that requir

[2015-09-04 04:46] evanmcc commented on #35
Additionally, the dropbear config(?) is a dead link (to `/var/run/dropbear`), with no config apparent elsewhere on the file system.  If you make that directory, you get to the password prompt, but you can't log in, because `/home/docker/.ssh/` is also not present, and I don't know the password.  If you change the password, it works.  Maybe something is busted in the build script for the dhyveos im

[2015-09-04 15:47] nlf commented on #35
wait.. so your `/etc/dropbear` directory is a link to `/var/run/dropbear`? that's very definitely wrong. password for the docker user is `docker`. it's very strange that the .ssh directory isn't present.. i'll check it out further and see if i can figure out what's going on.

[2015-09-04 16:38] evanmcc commented on #35
[code]

[2015-09-04 16:40] evanmcc commented on #35
fwiw:

[code]

version is 1.3.0.  I meant to try out v1.2.0, but I haven't had the time yet.

[2015-09-04 16:58] marcbachmann commented on #35
I just checked that. ssh is working in v1.2.0

[2015-09-04 17:00] nlf commented on #35
Interesting. I'll check it out and see if I can figure out what happened between the versions

[2015-09-04 17:05] marcbachmann commented on #36
Just experienced this error again.
I've hardcoded the versions in the download urls and tried a `dhyve init`.
Init worked but `dhyve up` just logs those dots and I can't cancel it. I had to kill the process.
When I had a look at ~/.dhyve before killing the process, I saw that the bzImage file was missing.

[code]

Those files were present in ~/.dhyve:

[code]

[2015-09-12 15:34] therealprof opened #39 "dhyve script fails if coreutils are installed"
If the coreutils are installed via homebrew the dhyve init fails with:

Removing them from the search path fixes this:

[2015-09-12 15:53] #39 closed, assigned to nlf

[2015-09-12 15:56] therealprof commented on #37
Have the exact same problem but boot2docker-xhyve doesn't work for me because clang (tried different versions) persistently crashes while compiling uuid2mac.

[2015-09-12 16:01] nlf commented on #37
@therealprof can you pull from master and try again with the latest version of the script and tell me if that works for you?

[2015-09-12 16:11] therealprof commented on #37
Works fine, thanks.

[2015-09-12 16:12] nlf commented on #37
did you get the warning about restarting the vm to setup nfs exports?

[2015-09-12 16:13] therealprof commented on #37
Maybe the reply was too early... How long is it supposed to be starting up?

[2015-09-12 16:15] nlf commented on #37
hmm, it should've started fairly quickly. can you check the output of `ps aux | grep xhyve` and see if the vm shows up?

[2015-09-12 16:17] therealprof commented on #37
Still starting up but xhyve is not in the process list.

[2015-09-12 16:17] nlf commented on #37
go ahead and hit control-c to stop the startup and try again, if it's not in the list something failed along the way.

[2015-09-12 16:20] therealprof commented on #37
Tried to start it manually using the information from dhyve status and get the error:

Seems like two things are foul: The vmnet stuff is not correct and dhyve does not detect that xhyve exited early due to problems.

[2015-09-12 16:21] nlf commented on #37
the permission denied sounds like you didn't use `sudo` when trying to start it manually.

we do need to figure out how to detect a crash in xhyve though

[2015-09-12 16:23] therealprof commented on #37
I did. ;)

[2015-09-12 16:24] nlf commented on #37
try it like this with the quotes around the kernel command line

`sudo xhyve -A -m 2G -c 1 -s 0:0,hostbridge -l com1,stdio -s 31,lpc -s 2:0,virtio-net -s 4,virtio-blk,/Users/foo/.dhyve/disk.img -U 2996454B-06DE-43B0-9FC6-9E9F38D1DCAE -f kexec,/Users/foo/.dhyve/bzImage,/Users/foo/.dhyve/rootfs.cpio.xz,"console=ttyS0 hostname=dhyve uuid=2996454B-06DE-43B0-9FC6-9E9F38D1DCAE"`

[2015-09-12 16:26] therealprof commented on #37
Same problem. But since the commandline was assembled by dhyve anyway I would expect it to work as is when called from dhyve, no? ;)

[2015-09-12 16:27] nlf commented on #37
very strange. ok i'll continue debugging on my end, thanks for the info!

[2015-09-12 20:47] ailispaw commented on #37
Hi @therealprof ,
Thank you for trying boot2docker-xhyve.

Did you see any error messages on compiling uuid2mac?
If so, could you provide it for me?

And I would like to know the version of your Yosemite 10.10.x and vmnet.framework.

[code]

[2015-09-12 20:59] therealprof commented on #37
No, it just segfaults, same message with the standard Xcode clang:

tar zxvf boot2docker-data.tar.gz
x boot2docker-data.img
/Applications/Xcode.app/Contents/Developer/usr/bin/make -C uuid2ip
ld uuid2mac.sym
clang-3.6: error: unable to execute command: Segmentation fault: 11
clang-3.6: error: linker command failed due to signal (use -v to see invocation)
make[1]: **\* [build/uuid2mac.sym] Error 254

[2015-09-12 21:06] ailispaw commented on #37
@therealprof Thank you so much for the prompt reply.
 Your versions are same as mine.

How about xhyve itself? Did you compile xhyve without any problems?

[2015-09-12 21:08] therealprof commented on #37
I'm using the bottled homebrew xhyve version.

[2015-09-12 21:10] ailispaw commented on #37
Oh, I see. xhyve v0.2.0?

[2015-09-12 21:13] therealprof commented on #37
Yes, that's v0.2.0. Just reinstalled the --HEAD version, same thing for both dhyve not starting and boot2docker-xhyve failing to compile.

[2015-09-12 21:19] ailispaw commented on #37
Hmm..
How about `sudo ./xhyverun.sh` at boot2docker-xhyve?
It is supposed to boot boot2docker-xhyve without uuid2mac.

[2015-09-12 21:25] ailispaw commented on #37
I see. Please comment out `make exports` line in the xhyverun.sh.

[2015-09-12 21:27] ailispaw commented on #37
Maybe the same thing as dhyve, I guess.

[2015-09-12 21:28] therealprof commented on #37
dhyve is not working either... It all boils down to:

[2015-09-12 21:31] ailispaw commented on #37
It seems something wrong with libraries or framworks in your system, which xhyve uses.
I guess that you may not be able to compile xhyve from its source in your Mac and it's not related to dhyve but xhyve.

[2015-09-12 21:33] ailispaw commented on #37
Or do you have any zombie processes of xhyve? If so, please kill all of them.

[2015-09-12 21:35] therealprof commented on #37
brew install xhyve --HEAD is compiling directly from the git sources. As mentioned I've tried that but still no change.

The least thing that boot2docker-xhyve should do IMHO is to check whether /Library/Preferences/SystemConfiguration/com.apple.vmnet exists and bail out with a meaningful error message before causing lots of random error messages. ;)

No, there're no xhyve processes running.

[2015-09-12 21:39] ailispaw commented on #37
I see. Yes, boot2docker-xhyve should do it.

Hmm. It seems I can not help you for now. I will investigate it.
Thank you for your time.

[2015-09-12 22:50] ailispaw commented on #37
It looks similar to this.
https://llvm.org/bugs/show_bug.cgi?id=24732

Sorry for bothering you with boot2docker-xhyve things here.
I will open an issue at boot2docker-xhyve.

[2015-09-14 10:55] tt commented on #35
I have the same problem. I fixed it by running `mkdir /var/run/dropbear`.

In the image, /etc/init.d/S50dropbear contains the condition `"$(readlink -f /etc/dropbear)" = "/var/run/dropbear"`. However, /etc/dropbear points to ../var/run/dropbear.

The upstream bug was introduced in [buildroot@`e7d04dd`](http://git.buildroot.net/buildroot/commit/?id=e7d04dd2df8bb935c61f7c814ee88eba7e75b5e4) and fixe

[2015-09-15 10:26] apage43 commented on #37
I'm seeing a similar issue, with a failure of `virtio_net: Could not create vmnet interface, permission denied or no entitlement? (status = 1001)` when trying to run any xhyve variant using vmnet.framework

I _also_ see in Console.app when this happens the messages

[code]

[2015-09-16 01:35] apage43 commented on #37
At least on my end, the issue I and @therealprof are having seems to have been caused by NAT/Network Sharing having been disabled on my mac. `com.apple.NetworkSharing` must be running for vmnet to work.

[code]

Also NAT has to be enabled for NetworkSharing to run:

[code]

EDIT: After this I can run xhyve with working network, ping back and forth from the host and guest, but still am not seeing `

[2015-09-16 06:52] therealprof commented on #37
Hm, does not work for me:

And NAT was already enabled.

xhyve is still complaining.

[2015-09-18 21:44] fab-soundcloud commented on #35
I am not so experienced with this. Is there a workaround with the current version of dhyve? If yes, how can I apply it? What are the steps. Thanks!

[2015-09-18 21:51] nlf commented on #35
I'll upload an experimental build right now that you can test to make sure I fixed it correctly

[2015-09-18 21:54] nlf commented on #35
Ok, just uploaded dhyve-os version 1.3.1. If you build a new dhyve vm it should pull that latest version. Please report back your results.

[2015-09-18 21:58] marcbachmann commented on #35
Thanks. It's working now. Great work.

[2015-09-18 22:12] nlf commented on #35
@evanmcc does this new build of dhyve-os resolve your issue too?

[2015-09-19 03:55] evanmcc commented on #35
Kinda.  If I manually launch the VM I can ssh in and use docker stuff, but dhyve up hangs forever after booting the VM.  I don't have the time to look into it just now, but I'm satisfied that my other issues aren't related to this one.

[2015-09-19 04:12] evanmcc commented on #35
the backticks in this line https://github.com/nlf/dhyve/blob/master/dhyve#L313 cause `dhyve up` and `dhyve down` to be executed.  This is what's causing the hang I mentioned earlier.  Also restarting the VM as instructed does nothing to fix the issue.  I'll dig into why `set_exports` is failing sometime next week.

[2015-09-21 12:51] fkoehler commented on #35
I did a

[code]

Then I did a `dhyve init` followed by a `dhyve up`

The dhyve up shows:

[code]

but it never exists. It is sort of hanging there.

When I do `dhyve status` in another terminal window the vm switches between "stopped" and "runnging" state. I can ssh into it, but only if it is in running state. After a short while the connection to the vm is broken (maybe because it is stopped) and

[2015-09-21 12:52] fkoehler commented on #35
Also when I ssh into it (after it has pulled the 1.3.1 image on init) it still says:

`DhyveOS version 1.3.0, build master : a7197ee`

[2015-09-21 12:54] fkoehler commented on #35
Oh, I see. When I CTRL+C out of the "[dhyve] starting....done" it keeps running and it seems to stay up normally, meaning I can use it regularly and I can ssh into it.

[2015-09-21 13:03] fkoehler opened #40 "Add support to let dhyve run behind a http proxy"
In our company my docker containers need to talk to http via a http proxy.
Within boot2docker I was using the boot2docker profile and I exported the http_proxy env variable there.

I am not sure how to approach this actually with dhyve and there might be better solutions or existing workarounds.

Ideally I would like to add some env variables to the VM maybe when creating it or even have a dedicat

[2015-09-21 13:12] fkoehler commented on #40
I just realized I can add `~/.profile` and add my http_proxy vars there. Would that solve my problem? I mean would docker then also use that if it tries to connect to the internet? Just can not verify it right now.

Would it still make sense to put some proxy option on dhyve init maybe and auto source that config ever y time?

[2015-09-21 13:25] fkoehler commented on #40
Ok, I just checked it and adding the http_proxy to ~/.profile does not help at all.

[2015-09-21 13:52] fkoehler commented on #40
Essentially we need something like:

https://github.com/boot2docker/boot2docker#docker-daemon-options

[2015-09-21 15:29] fkoehler commented on #40
Looking at https://github.com/nlf/dhyve-os/blob/master/rootfs/etc/default/docker
I tried adding some "export http_proxy=...." to that inside my dhyve vm but it did not help either (after restarting the vm)

Any ideas for a workaround?

[2015-09-21 17:21] nlf commented on #40
i'll have to add support for this. good suggestion, though. i'll work on it

[2015-09-22 09:07] fkoehler commented on #40
Great, thanks! Is there a quick work around you have in your mind? i.e. shouldn't it work if I add the exports to the scripts which starts the docker daemon like https://github.com/nlf/dhyve-os/blob/master/rootfs/etc/init.d/S51docker

I tried it but it did not :(

[2015-09-23 19:41] edrex commented on #37
Wow this is a long thread.

I think I have the same issue

[code]

however it's being masked by #653b8e8c3 so I just see `[dhyve] your vm has started, however since this is your first start we were unable to configure nfs shares. please run 'dhyve down' and then 'dhyve up' to restart the vm and enable the nfs share` on every start.

Is this file meant to be created by the Yosemite installer?

[2015-09-23 20:02] nlf commented on #37
The current theory is that file is created when the network sharing has been used the first time. Note though, that the filename is `/Library/Preferences/SystemConfiguration/com.apple.vmnet.plist`

[2015-09-24 00:20] edrex commented on #37
Oh I have that file.

[2015-09-24 00:29] edrex commented on #37
It turns out the script was giving a false negative because 653b8e8 left out the `.plist` suffix. @evanmcc, in the original report you are also missing the suffix. What does

[code]

output?

[2015-09-24 00:31] nlf commented on #37
good eye, added in the .plist extension

[2015-09-24 14:54] edrex commented on #37
the other part of that commit is needed too, to avoid an error when the file exists. I swear I created a PR for that commit, but I can't find it now.

[2015-09-24 16:02] nlf commented on #37
i'm not sure i follow, i left the commit intact and only added the .plist extension to the test. what else am i missing?

[2015-09-24 16:11] edrex commented on #37
I had to change the test on L313 to avoid an error when the file exists (since the test expects an integer) , see the commit message and body of 9acf6f88.

[2015-09-24 16:14] nlf commented on #37
just pushed an update, should take care of that

[2015-10-29 19:21] AlexanderWillner opened #42 "The dhyve home directory should be configurable"
Instead of `$HOME/.dhyve/` it should be possible to install dhyve also in other folders, e.g. on external drives.

[2015-10-29 19:23] nlf commented on #42
good idea :+1:

i'll add that feature when i get some time. or feel free to submit a pull request if you feel like taking a try at it yourself!

[2015-12-02 10:49] marcbachmann commented on #35
Works with the newest dhyve-os version.

[2015-12-02 10:49] #35 closed, assigned to nobody

[2015-12-02 10:50] marcbachmann commented on #35
Please create an issue for the other things, if you still have a problem.

[2015-12-02 10:56] marcbachmann opened #43 "docker is limited to 3GB memory"
I used the `-m` option when I created the container, and `dhyve status` also shows that I configured `8G` of memory. Despite that the dhyve os only shows 3GB when I use `free` to show the total memory.

[2015-12-03 18:38] nlf commented on #43
this is actually a limitation in [xhyve](https://github.com/mist64/xhyve). once they support over 3gb of memory there, it'll start working correctly here as well

[2016-01-08 10:59] lmb opened #44 "dhyve vm can not access VPN'ed resources"
It seems dhyve does not cope well with Cisco AnyConnect based VPNs. Servers behind the VPN are pingable from the host, but not from the dhyve guest.

I'm assuming the host does not know that it should route between the bridge and the VPN. Any ideas on how to achieve this?

[2016-01-08 17:21] nlf commented on #44
this would require a bit different network setup than what dhyve currently does.. i _think_ you'd have to set up a tun interface and tell xhyve (the virtualization software) to use that instead of the standard virtio-net interface that it currently uses. i'd have to do some research to figure out how to make this work.

[2016-01-08 17:35] lmb commented on #44
Hi Nathan,

Thanks for your help. Did some more digging:
- The two relevant devices are `bridge100` and `utun0` (VPN)
- Packets coming in via `bridge100` and leaving to the public internet are properly NATed
- Packets coming in via `bridge100` and exiting to `utun0` still carry the internal, host-only IP address

Seems like there is a special case in virtio-net somewhere that makes the NAT happen.

[2016-01-08 17:37] nlf commented on #44
i honestly couldn't tell you. this sounds like something that we need to solve at the [xhyve](https://github.com/mist64/xhyve) level

[2016-01-18 10:24] lmb commented on #44
Filed mist64/xhyve#84, maybe we can find out some more that way.

[2016-01-18 10:24] #44 closed, assigned to nobody

[2016-01-18 16:54] nlf commented on #44
great, thanks for linking to it here. that'll be useful information

[2016-01-18 17:44] nlf commented on #40
to add a proxy to docker, you can edit `/etc/defaults/docker` and pass it as a flag to the daemon directly

[2016-03-07 16:30] marcbachmann commented on #43
It's supported with the most recent commit  https://github.com/mist64/xhyve/commit/793d17ccffa9a1f74f6f1a4997e73cb2e1496296

[2016-03-07 16:30] #43 closed, assigned to nobody

[2016-05-06 06:36] pr4th4m commented on #37
I am facing a similar problem

[code]

NOTE: If I run xhyve without $UUID OS boots up just fine, but I wish a same ip for every boot.

[2016-05-06 07:07] therealprof commented on #37
Actually all of my problem just vanished this morning. Yesterday night I was looking through various log files again to find the reason for sporadic erratic behaviour of some applications (like the clipboard not working in the latest Chromium version) and in due course I discovered that there were some old files in /var/run and /var/db which were not supposed there and couldn't be removed. So I bo

[2016-05-06 09:38] pr4th4m commented on #37
Found it !! In my case culprit was  UUID  (I have no idea why)

[code]

By changing the UUID I get same IP across reboots.
Weird part is, I had picked the UUID randomly the firs time as well.

[2017-01-26 18:47] nhooey commented on #37
@therealprof I'm having all of the same issues that you're having.

What exactly did you remove in `/var/db` and `/var/run`?

[2017-01-26 20:15] nhooey commented on #37
I posted a [Stack Overflow question](https://serverfault.com/questions/828848/xhyve-error-virtio-net-could-not-create-vmnet-interface-permission-denied-or) since it's a better forum to answer these sorts of things.

[2017-01-26 20:52] therealprof commented on #37
@nhooey I'm sorry but I have really no idea what exactly did the trick. It was simply some severe pruning and suddenly things worked again.